/* Single Item */
.single-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 16px;
    gap: 10px;
    border-radius: var(--border-radius-l);
    transition-property: background-color ease 200ms;
    cursor: pointer;
}
    .single-item:hover{
        background-color: var(--green-900);
        text-decoration: none;
    }

.single-item:hover .single-item__icon{
    opacity: 100%;
    transform: translate(0);
}
.single-item__icon{
    position: absolute;
    font-size: 50px;
    right: 7.5px;
    bottom: 7.5px;
    color: var(--green-400);
    opacity: 0;
    transform: translateY(10px);
    transition-property: opacity, transform;
    transition-timing-function: ease;
    transition-duration: 200ms;
}

.single-item__div-image-button{
    position: relative;
}

.single-item__div-image{
    width: 140px;
    height: 140px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    /* o border-radius: 50% arredonda o elemento deixando ele circular, mas só funciona se o elemento for quadrado */
    border-radius: 50%; 
}

.single-item__texts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.single-item__title{
    font-weight: 600;
}

.single-item__type{
    font-size: 13px;
}